#----------------------------------------
# Примерный файл конфигурации для клиента
#----------------------------------------
#
application:
{
	connectSocket:
	{
	
	 /*
	  * Эта секция задает настройки для функции создания сокета 
	  */
	  port = 49519; /* порт хоста */
	  transport = "tcp"; /* имя транспортного протокола */
	  qlen = 5;
	};
	
	blocking:
	{
	
	   blocking = 0; /* режим работы (1 - блокирующий, 0 - неблокирующий) */
	
	};
	
	services:
	{
	
		/*
		 * Эта секция содержит настройки IP-sets
		 */
		 
		 wireless0:
		 { 
		 	serviceNames = ["A", "B"]; 
		 }; /* через беспроводное подключение */	 			 
		 eth1:
		 { 
		 	serviceNames = ["C"]; 
		 }; /* через eth1 */
		 		
	};
};